.cart {
  margin-block: 10rem;
  padding: 5rem 2rem;

  &__container {
    display: flex;
    gap: 5rem;
    justify-content: center;
    align-items: center;
  }
  &__items {
    flex: 7;
    padding: 3rem;
    background-color: $dark-white-color;
    &-title {
      font-size: 2.2rem;
      margin-bottom: 3rem;
    }
  }
  &__info {
    flex: 0.3;
    background-color: $dark-white-color;
    padding: 2.5rem;
    &-title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    &-name {
      display: inline-block;
    }
    &-phone-number {
      display: inline-block;
    }
    &-address {
      margin-top: 2rem;
      color: $gray-color;
    }
    &-total-price {
      margin-block: 2rem;
      font-size: 2rem;
    }
    &-btn {
      border: none;
      outline: none;
      font-size: 2rem;
      width: 100%;
      background-color: $purple-color;
      color: $white-color;
      padding: 1.2rem 5rem;
      margin-bottom: 2rem;
      border-radius: 1rem;
      box-shadow: 2px 2px 4px rgba($color: #000000, $alpha: 0.3);
      cursor: pointer;
      transition: all 0.3s linear;
      &:hover {
        transform: translateY(-3px);
      }
      &:active {
        transform: translateY(2px);
      }
    }
  }
}

.cart-card {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  &__title {
    flex: 4;
    word-break: break-all;
  }
  &__price {
    flex: 2;

    font-size: 1.8rem;
    font-weight: 500;
  }
  &__quantity {
    flex: 1.5;

    display: flex;
    align-items: center;
    &-btn {
      border: none;
      outline: none;
      background-color: transparent;
      padding: 0.5rem 0.8rem;
      border-radius: 5px;
      margin-inline: 0.5rem;
      cursor: pointer;
      border: 1px solid $gray-color;
    }
    &-number {
      font-size: 1.4rem;
      color: $gray-color;
    }
  }
  &__total-price {
    flex: 2;

    font-size: 1.8rem;
    font-weight: 500;
    color: $purple-color;
  }
  &__delete {
    width: 5%;

    svg {
      font-size: 1.8rem;
      color: $gray-color;
    }
  }
}
