.footer {
  margin-top: auto;
  padding-block: 4rem;
  border-top: 2px solid $dark-white-color;

  ul li:first-child {
    font-size: 2rem;
    margin-bottom: 2rem;
    font-weight: bold;
  }
  ul li:not(:first-child) {
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  &__logo {
      text-align: center;
      @include tablet{
          text-align: start;
      }
      @include mobile{
        text-align: center;
    }
    img {
      height: 12rem;
    }
  }
}
